<h1>{{title}}</h1>

<div class="primary-actions splitter">
    <!-- Header Buttons -->
    <div class="splitter-left">
        <button type="button" id="create-note-button">Create new Note</button>
    </div>
    <div class="splitter-right">
        <select id="style-selector">
            <option>BlackWhite-Style</option>
            <option>Other-Style</option>
        </select>
    </div>
</div>


<div class="navigation splitter">
    <div class="navigation-tabs">
        <button type="button">By finish Date</button>
        <button type="button">By created Date</button>
        <button type="button">By Importance</button>
    </div>
    <div class="navigation-actions">
        <button type="button">Show finished</button>
    </div>
</div>

<div class="notes">
    <!-- Todo: Notiz Teil -->
</div>